<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
 * created: 2019
 *
 * @category  XXXXXXX
 * @package   Ayaline
 * @author    aYaline Magento <support.magento-shop@ayaline.com>
 * @copyright 2019 - aYaline Magento
 * @license   aYaline - http://shop.ayaline.com/magento/fr/conditions-generales-de-vente.html
 * @link      http://shop.ayaline.com/magento/fr/conditions-generales-de-vente.html
 */
 -->
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="PHPAISS_DynamicRows::dynamic_rows"
            resource="PHPAISS_DynamicRows::dynamic_rows"
            title="Dynamic Rows PHPAISS"
            translate="title"
            module="PHPAISS_DynamicRows"
            sortOrder="99"
            parent="Magento_Backend::system_convert"
            action="dynamicrows/row/index/scope/stores" />
    </menu>
</config>